@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Sanchez&display=swap');

body {
    font-family: 'Instrument Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

    h1, h2, h3 {
      @apply font-mono;
    }

    h2 {
      @apply text-4xl;
    }

    h3 {
      @apply text-2xl;
    }
}